body{
    padding-top: 100px;
    background: url("assets/image/iStock-875518498-2000x1200.jpg") no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 350px;
    
    
}


.img-container {
    display: inline-block;
    width: 140px;
    height: 140px;
    position: relative;
    border: none;
}

.img-person-face {
    max-width:140px;
    max-height:140px;
    width:auto;
    height:auto;
    border: none;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    
}

.card-block-img-container {
    text-align: center;
}